.birthdayBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    background: rgb(59, 154, 59);
    color: white;
    position: relative;
    flex-direction: column;
}
.textBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
h2{
    font-size: 1.2rem;
}
p{
    font-size: .9rem;
}
.trashIcon{
    cursor: pointer;
    position: absolute;
    right: -30px;
    padding: 0px 10px;
    border: 0;
    color: rgb(155, 0, 0);
    background: transparent;
    font-weight: 800;
}
.daysLeft{
    font-size: .6rem;
    position: absolute;
    right: 10px;
    bottom: -5px;
}
.upcoming{
    background: #d55a38;
}